[submodule "tech-challenge-ms-product"]
	path = tech-challenge-ms-product
	url = https://github.com/souzamarcos/tech-challenge-ms-product.git
[submodule "tech-challenge-ms-order"]
	path = tech-challenge-ms-order
	url = https://github.com/souzamarcos/tech-challenge-ms-order.git
